@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ダークモードのスタイル */

@media (prefers-color-scheme: dark) {

  :root {

    --background: #ffffff;

    --foreground: #171717;

  }

}



* {

  cursor: none;

}



.custom-cursor {

  position: fixed;

  width: 20px;

  height: 30px;

  background: linear-gradient(to bottom right, #87ceeb, #add8e6);

  border-radius: 50% 0;

  pointer-events: none;

  transform: translate(-10px, -10px) rotate(45deg);

  transition: transform 0.1s ease-out;

  z-index: 9999;

  box-shadow: 0 0 5px rgba(135, 206, 235, 0.7);

}



.click-effect-wrapper {



  position: fixed;



  pointer-events: none;



  z-index: 10000;



}







.click-effect {



  width: 20px;



  height: 20px;



  color: #ffd700; /* Yellow color for stars */



  animation: fadeOut 0.5s forwards;



  text-align: center;



  line-height: 20px;



}







@keyframes fadeOut {



  from {



    opacity: 1;



    transform: scale(1);



  }



  to {



    opacity: 0;



    transform: scale(1.5);



  }



}







body {

  background: var(--background);

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  padding-bottom: 4rem; /* Adjust body padding for fixed footer on mobile */

}



@media (min-width: 768px) {

  /* md breakpoint */

  footer {

    display: none; /* Hide footer on desktop */

  }

  body {

    padding-bottom: 0; /* Remove padding on desktop */

  }

}


