@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ダークモードのスタイル */

@media (prefers-color-scheme: dark) {

  :root {

    --background: #ffffff;

    --foreground: #171717;

  }

}



* {

  cursor: none;

}



.custom-cursor {

  position: fixed;

  width: 20px;

  height: 30px;

  background: linear-gradient(to bottom right, #87ceeb, #add8e6);

  border-radius: 50% 0;

  pointer-events: none;

  transform: translate(-10px, -10px) rotate(45deg);

  transition: transform 0.1s ease-out;

  z-index: 9999;

  box-shadow: 0 0 5px rgba(135, 206, 235, 0.7);

}



.click-effect-wrapper {



  position: fixed;



  pointer-events: none;



  z-index: 10000;



}







.click-effect {



  position: relative;



  width: 30px;



  height: 30px;



  background-color: #add8e6; /* Light blue for the main pad */



  border-radius: 50%;



  animation: fadeOut 0.5s forwards;



  opacity: 0.7;



}







.click-effect::before, .click-effect::after {



  content: '';



  position: absolute;



  background-color: #add8e6; /* Light blue for the toe pads */



  border-radius: 50%;



}







.click-effect::before {



  width: 15px;



  height: 15px;



  top: -5px;



  left: 5px;



  transform: rotate(-30deg);



}







.click-effect::after {



  width: 15px;



  height: 15px;



  top: -5px;



  right: 5px;



  transform: rotate(30deg);



}







@keyframes fadeOut {







  from {







    opacity: 0.7;







    transform: scale(1);







  }







  to {







    opacity: 0;







    transform: scale(1.5);







  }







}















.answer-effect-container {







  position: fixed;







  top: 50%;







  left: 50%;







  transform: translate(-50%, -50%);







  font-size: 80px;







  font-weight: bold;







  pointer-events: none;







  z-index: 10001;







  animation: answerEffectFadeOut 1s forwards;







}















.correct-effect {







  color: #4CAF50; /* Green */







}















.incorrect-effect {







  color: #F44336; /* Red */







}















@keyframes answerEffectFadeOut {







  from {







    opacity: 1;







    transform: translate(-50%, -50%) scale(0.5);







  }







  to {







    opacity: 0;







    transform: translate(-50%, -50%) scale(1.5);







  }







}



















body {

  background: var(--background);

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  padding-bottom: 4rem; /* Adjust body padding for fixed footer on mobile */

}



@media (min-width: 768px) {

  /* md breakpoint */

  footer {

    display: none; /* Hide footer on desktop */

  }

  body {

    padding-bottom: 0; /* Remove padding on desktop */

  }

}


